* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: 'Lato', sans-serif;
}

body {
  width: 600px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  a {
    height: 40px;

    img {
      height: 40px;
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;

    li a {
      text-decoration: none;
      font-size: 14px;
      color: dimgray;

      &:hover {
        color: #DE1F26;
      }
    }
  }
}

.hero {
  margin: 0;
  height: 400px;
}

.banners {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .banner {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }

    .ecoupon {
      width: 200px;
      height: 30px;
      background-color: #c75300;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
    }

    h1 {
      font-weight: 800;
      margin: 0;
      margin-top: 5px;
    }

    p {
      width: 245px;
      margin: 10px 0;
    }

    button {
      width: 115px;
      height: 40px;
      background-color: #0e5780;
      padding: 0;
      border: 0;
      border-radius: 5px;
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 600;

      &:hover {
        background-color: #c75300;
        transition: 0.5s;
      }
    }
  }

  .picture {
    object-fit: cover;
  }

  .text {
    padding-left: 25px;
  }
}

footer {
  display: flex;
  flex-direction: column;

  .social {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }  

  .disclaimer {
    padding: 0 70px 15px;
    font-size: 14px;
    color: #717D95;
    text-align: center;
  }
}
